<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Home connection-->
    <!--<add name="BathymetryEntities" connectionString="metadata=res://*/CHSXYZ.csdl|res://*/CHSXYZ.ssdl|res://*/CHSXYZ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHARLES-PC;initial catalog=Bathymetry;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Work connection-->
    <add name="BathymetryEntities" connectionString="metadata=res://*/CHSXYZ.csdl|res://*/CHSXYZ.ssdl|res://*/CHSXYZ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WMON01DTCHLEBL2;initial catalog=Bathymetry;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>